.App {
  text-align: center;
}
.country h1{
align-items: center;
  text-align: center !important;
width:100%;
}
.country h2{
 width: 100%;
  align-items: center;
  text-align: center !important;
  color:red;
}
.country{
  text-align: center !important;
}
.style{
  /* border: 1px solid; */
  border:1px solid rgba(95, 61, 61, 0.1);
  box-shadow: aliceblue;
  /* border-color:opacity(0.1); */
  
    box-shadow: 5px 0px;
    background-color: #fff;
    margin-bottom: 13px;
}
.info{
  width: 150px;
}
.info img{
  margin-top: 10px;
  width: 100%;
  margin-top: 10;
 
  margin-bottom: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.data{
  /* font-size:25px; */
  text-align: left;
  margin-top:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
